* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
}

#hero {
  width: 592px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#hero img {
  width: 348px;
  margin: auto;
  padding-bottom: 66px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
  margin-bottom: 32px;
}

span, a {
  color: #ff9900;
}

.line {
  width: 568px;
  margin: 71px auto 8px;
  border: 1px solid #ECEFF2;
}

p, #footer {
  color: #7d7987;
}

#footer a + a {
    margin-left: 28px;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}